@model CategoryListModel

<div class="border border-dark p-3 mb-2">
    Su anda @Model.Name kategorisine ait bloglari goruyorsunuz. <a asp-action="index" class="float-right">Filtreyi kaldir.</a>
</div>